* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#r{
    position: relative;
}

.color{
    position: absolute !important;
    left: 25%;
    width: 5%;
    height: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.color:nth-child(5) .button{
    background-color: gold;
    color: black;
}

.button{

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%; 
    justify-content: space-around;
    background-color: black;
    transition: 0.6s;
}

.button p{
    font-size: 2vw;
    transform: rotate(90deg);
}

.dropdown-menu li{
    color: white;
    cursor: pointer;
    /* pointer-events: none; */
}

/* .dropdown-menu li:hover{
    color: unset !important;
} */

.dropdown-menu li:nth-child(1):hover{
    color: white;
}

.dropdown-menu li:nth-child(1){
    background-color: black;
}
.dropdown-menu li:nth-child(2){
    background-color: brown;
    color: white;
}
.dropdown-menu li:nth-child(3){
    background-color: red;
    color: white;
}
.dropdown-menu li:nth-child(4){
    background-color: orange;
}
.dropdown-menu li:nth-child(5){
    background-color: yellow;
    color: black;
}
.dropdown-menu li:nth-child(6){
    background-color: green;
    color: white;
}
.dropdown-menu li:nth-child(7){
    background-color: blue;
    color: white;
}
.dropdown-menu li:nth-child(8){
    background-color: purple;
    color: white;
}
.dropdown-menu li:nth-child(9){
    background-color: gray;
    color: white;
}
.dropdown-menu li:nth-child(10){
    background-color: white;
    color: black;
}

#B {
    left: 35%;
    margin-top: 2%;
    height: 80%; 
}
#C {
    left: 45%;
    margin-top: 2%;
    height: 81%; 
    opacity: 0;
}
#D{
    left: 55%;
    margin-top: 2%;
    height: 81%; 
}

#E {
    left: 76%;
}


.scale-up-ver-center {
	-webkit-animation: scale-up-ver-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
              opacity: 0;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
              opacity: 1;
    }
  }
  @keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
              opacity: 0;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
              opacity: 1;
    }
  }
  

  .scale-up-ver-center-revers {
	-webkit-animation: scale-up-ver-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse both;
	        animation: scale-up-ver-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse both;
}


.input-group .dropdown-menu li{
    color: #000;
}

.input-group .dropdown-menu li:nth-child(1){
    background-color: brown;
}
.input-group .dropdown-menu li:nth-child(2){
    background-color: red;
}
.input-group .dropdown-menu li:nth-child(3){
    background-color: gold;
}
.input-group .dropdown-menu li:nth-child(4){
    background-color: silver;
}